[submodule "panda"]
  path = panda
  url = https://github.com/jrgutier/panda.git
[submodule "msgq"]
  path = msgq_repo
  url = https://github.com/jrgutier/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = https://github.com/jrgutier/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = https://github.com/jrgutier/teleoprtc.git
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/jrgutier/tinygrad.git
[submodule "sunnypilot/neural_network_data"]
  path = sunnypilot/neural_network_data
  url = https://github.com/jrgutier/neural-network-data.git
